# Python
__pycache__/
*.py[cod]
*.so

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Envs
.venv/
venv/
ENV/
.env

# Tools & IDEs
.pytest_cache/
.mypy_cache/
.idea/
.vscode/

# Misc
.DS_Store
*.log
.coverage
coverage.xml
